---
import BaseLayout from '@layouts/BaseLayout.astro';

import Window from '@components/Window.astro';
import DownloadButton from '@components/DownloadButton.astro';

import WindowsIcon from '@assets/windows.png';
import LinuxIcon from '@assets/linux.png';
import GamebananaIcon from '@assets/gamebanana.gif';
import GitHubIcon from '@assets/github.png';
---

<BaseLayout title=`Downloads` description='Downloads Page'>

<Window title="Downloads", insert="max-w-5xl w-full mx-auto px-4">

<div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-4">
  <DownloadButton
    icon={WindowsIcon}
    name="Windows"
    desc="Standalone Windows executable"
    buttonTxt="Download"
    link="https://github.com/picnicpip/calamityCreatures/releases/download/Release/windowsBuild.zip"
    isExternal={false}
  />
  <DownloadButton
    icon={LinuxIcon}
    name="Linux"
    desc="Standalone Linux executable"
    buttonTxt="Download"
    link="https://github.com/picnicpip/calamityCreatures/releases/download/Release/linuxBuild.zip"
    isExternal={false}
  />
</div>

<h3 class="text-2xl font-bold mb-2 text-left" style="user-select: none;">Alternative downloads</h3>
<div class="border-2 border-[#543b46] mb-6"></div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
  <DownloadButton
    icon={GamebananaIcon}
    name="GameBanana"
    desc="GameBanana mirror"
    buttonTxt="Download"
    link="https://gamebanana.com/mods/647033"
    isExternal
  />
  <DownloadButton
    icon={GitHubIcon}
    name="GitHub"
    desc="Get the latest releases and source code"
    buttonTxt="Open Repository"
    link="https://github.com/picnicpip/calamityCreatures"
    isExternal
  />
</div>

</Window>

</BaseLayout>